################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Helpers/.vs/Helpers/v15/Server/sqlite3
